<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rov.pcms.make_rov" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize" >
        <activity
            android:name=".SensorMoitor"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BasicInformationActivity"
            android:label="Basic Information"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MultiMotorAllocationActivity"
            android:label="@string/title_activity_multi_motor_allocation"
            android:parentActivityName=".BasicInformationActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rov.pcms.make_rov.BasicInformationActivity" />
        </activity>
        <activity
            android:name=".EditMotorAllocationProfiles"
            android:label="@string/title_activity_edit_motor_allocation_profiles"
            android:parentActivityName=".MultiMotorAllocationActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rov.pcms.make_rov.MultiMotorAllocationActivity" />
        </activity>
        <activity
            android:name=".SensorInitialization"
            android:label="@string/title_activity_sensor_initialization"
            android:parentActivityName=".BasicInformationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rov.pcms.make_rov.BasicInformationActivity" />
        </activity>
        <activity
            android:name=".setup_BasicInformationActivity"
            android:label="@string/title_activity_setup__basic_information"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setup_BasicInformationActivity_2"
            android:label="@string/title_activity_setup__basic_information_activity_2"
            android:parentActivityName=".setup_BasicInformationActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rov.pcms.make_rov.setup_BasicInformationActivity" />
        </activity>
        <activity
            android:name=".setup_MultiMotorAllocationActivity"
            android:label="@string/title_activity_setup__multi_motor_allocation"
            android:parentActivityName=".setup_BasicInformationActivity_2"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rov.pcms.make_rov.setup_BasicInformationActivity_2" />
        </activity>
        <activity
            android:name=".setup_SensorInitialization"
            android:label="@string/title_activity_setup__sensor_initialization"
            android:parentActivityName=".setup_MultiMotorAllocationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rov.pcms.make_rov.setup_MultiMotorAllocationActivity" />
        </activity>

    </application>

</manifest>
